.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.loader {
  width: 100px;
  animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
