.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* или любое другое значение в зависимости от вашего макета */
  overflow: hidden; /* Скрыть элементы, выходящие за пределы контейнера */
}

.loader {
  width: 100px; /* Настройте размер лоадера по необходимости */
  animation: move 2s linear infinite; /* Анимация движения */
}

@keyframes move {
  0% {
    transform: translateX(-100px); /* Начальная позиция за пределами слева */
  }
  50% {
    transform: translateX(0); /* Конечная позиция в центре */
  }
  100% {
    transform: translateX(100px); /* Возвращение за пределы справа */
  }
}
