.container {
    width: 1460px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  /* Адаптация для планшетов (max-width: 1024px) */
  @media (max-width: 1024px) {
    .container {
      width: 100%; /* Ширина контейнера на планшетах будет 100% */
      padding-left: 20px;  /* Увеличим отступы для планшетов */
      padding-right: 20px;
    }
  }
  
  /* Адаптация для мобильных устройств (max-width: 480px) */
  @media (max-width: 480px) {
    .container {
      width: 100%; /* Ширина контейнера будет 100% на мобильных устройствах */
      padding-left: 15px;  /* Уменьшаем отступы для мобильных */
      padding-right: 15px;
    }
  }
  